html {
	background-image: linear-gradient(rgb(33, 4, 71), rgb(248, 244, 252));
}
.header-bar {
	padding: 10px;
	text-align: center;
	background-color: rgb(77, 203, 245);
}
a {
	font-size: x-large;
	padding: 20px;
	color: white;
	font-size: 900;
	font-family: Georgia, "Times New Roman", Times, serif;
}
#end-page {
	padding: 5px;
	text-align: center;
	background-color: rgb(77, 203, 245);
	margin-top: 30px;
}
h1 {
	padding: 30px;
	text-align: center;
}
p {
	text-align: center;
	font-size: x-large;
}
table {
	margin: auto;
}
th {
	text-align: center;
	font-size: xx-large;
	padding: 20px;
}
td {
	font-size: x-large;
	text-align: center;
	padding: 20px;
}
hr {
	margin: auto;
}
h2 {
	font-size: x-small;
	text-align: center;
	padding: 20px;
}
